<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
  </head>
  <body>
    <div>
      <h1>This is an test</h1>
      <br>
      <%= link_to 'About', about_path %>
    </div>
  </body>
</html>
